{
	"currencies": [
		{
			"name": "Micronational Currency Standard",
			"symbol": "μ",
		},
		{
			"name": "Pur",
			"symbol": "Ᵽ",
		},
		{
			"name": "Spilling",
			"symbol": "Ł",
		}
	],
    "dev_server": {
        "role": 1202348639406530621,
        "server": 1138412428036685864
    },
	"api": {
		"enabled": false,
		"host": "0.0.0.0",
		"port": 8000,
		"reload": false
	},
	"webroot": "http://yourwebsitehere",
	"token": ""
}
