{
	"currencies": [
		{
			"name": "Micronational Currency Standard", // The first currency is always the standard, also remove this comment when configuring!!!
			"symbol": "μ",
			"managers": []
		},
		{
			"name": "Pur",
			"symbol": "Ᵽ",
			"managers": []
		},
		{
			"name": "Spilling",
			"symbol": "Ł",
			"managers": []
		}
	],
	"api_enabled": false,
	"api_host": "0.0.0.0",
	"api_port": 8000,
	"token": ""
}
