body{
    background: linear-gradient(135deg, #999, #09a);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "PT Root UI", Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    border-radius: 15px;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-image: linear-gradient(#f167fd, #0054b3);
    transition: 0.5s;
    color: black;
}

#add_bot {
    background-image: linear-gradient(to right, #3cccc5 0%, #bf54e9  51%, #2400c7  100%);
    margin: 25px;
    padding: 15px 45px;
    width: 100px;
    height: 20px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

#add_bot a {
    position: relative;
    text-decoration: none;
    text-align: center;
    color: white;
}

#add_bot:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}